<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://192.168.0.199:5432/PROJ</property> <!-- BD Mane -->
    <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
    <property name="connection.username">NKA</property> <!-- DB User -->
    <property name="connection.password">5678</property> <!-- DB Password -->
    
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->
    <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->
    
    <property name="show_sql">true</property> <!-- Show SQL in console -->
    <property name="format_sql">true</property> <!-- Show SQL formatted -->
    
    <property name="hibernate.jdbc.lob.non_contextual_creation">true</property>
    
    <property name="hibernate.default_schema">work</property>
    
    <mapping class="com.nka.entities.Organization" />
    <mapping class="com.nka.entities.HeadOrganization" />
    <mapping class="com.nka.entities.Subdivision" />
    <mapping class="com.nka.entities.HeadSubdivision" />
    <mapping class="com.nka.entities.Employee" />
    <mapping class="com.nka.entities.Position" />
    <mapping class="com.nka.entities.Assignment" />
    <mapping class="com.nka.entities.AssignmentSubdivision" />
    <mapping class="com.nka.entities.AssignmentEmployee" />
  </session-factory>
</hibernate-configuration>